html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #EFEFEF;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

.hoverable {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hoverable:hover {
    transform: scale(1.02);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.modal-header, .modal-footer {
    border: none;
}
