<template id="in-template-playlists">
	<section class="animated fadeIn"  ref="playlists">
		<div class="row justify-end mt-3" >
			<div class="in-edit-block-position text-left justify-end" v-if="editMode">
				<v-btn fab color="" class=" move mr-1" title="<%= __('Mover') %>" v-if="1 === 2">
					<v-icon color="primary">zoom_out_map</v-icon>
				</v-btn>

				<v-tooltip :open-delay="50" :close-delay="50" bottom>
					<v-btn
						slot="activator" v-if="checkYoutube(page.youtube)"
						class="mr-1 animated zoomIn faster" fab small
						@click.stop="editType('playlists')"
					>
						<v-icon color="green">edit</v-icon>
					</v-btn>
					<span>Editar Playlists</span>
				</v-tooltip>

				<v-tooltip :open-delay="50" :close-delay="50" bottom>
					<v-btn slot="activator" fab small class="animated zoomIn faster" @click.stop="removeType('playlists')">
						<v-icon color="#ef001c">delete</v-icon>
					</v-btn>
					<span>Deletar Playlists</span>
				</v-tooltip>
			</div>
		</div>

		<h3>
			<%= __('Playlists') %>
		</h3>
		<div class="in-editor-section in-playlists-preview" id="playlists">
			<v-layout row wrap justify-end v-if="toPlay.id">
				<v-tooltip :open-delay="50" :close-delay="50" left>
					<v-btn slot="activator" icon color="#ef001c" @click.stop="toPlay = {}">
						<v-icon>close</v-icon>
					</v-btn>
					<span>Fechar Vídeo</span>
				</v-tooltip>
			</v-layout>
			<div class="row">
				<div v-if="toPlay.id" class=" col-12 embed-responsive embed-responsive-16by9">
					<iframe class="in-videos-item-player-iframe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
					 :src="'https://www.youtube.com/embed/videoseries?list=' + toPlay.id + '&autoplay=1'">
					</iframe>
				</div>
			</div>
			<swiper :options="swiperOption">
				<swiper-slide v-for="(playlist, index) in page.playlists" :key="index" class="in-videos-preview-item">
					<div class="text-left" @click.stop="toPlay = playlist" :title="playlist.title">
						<img class="in-videos-preview-item-thumb" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen :src="checkImage(playlist.thumbnails)" />
						<div class="in-videos-preview-item-title">
							<p>{{playlist.title}}</p>
						</div>
						<div class="in-videos-preview-item-author">
							Ultima publicação: {{ new Date(playlist.publishedAt).toLocaleDateString() }}
						</div>
					</div>
				</swiper-slide>

				<!-- Optional controls -->
				<div class="swiper-button-prev" slot="button-prev"></div>
				<div class="swiper-button-next" slot="button-next"></div>
				<div class="swiper-scrollbar" slot="scrollbar"></div>
				<div class="swiper-pagination" slot="pagination"></div>
			</swiper>
		</div>
		<div class="andre-margin-in-page"></div>
	</section>
</template>

<script>
	Vue.component("in-template-playlists", {
		template: "#in-template-playlists",
		computed: {
			...mapGetters('page', [
				'page',
				'editMode',
				'swiperOption'
			])
		},
		data() {
			return {
				toPlay: {},
				loading: false
			}
		},
		methods: {
			...mapActions('page', [
				'toggleModal',
				'setAdding',
				'setEditingType',
				'removeType'
			]),
			...mapActions('app', [
				'scrollPageTo',
			]),

			checkImage(image) {
        if (image) {
          if (image.medium) return image.medium.url
          else if (image.default) return image.default.url
          else if (image.high) return image.high.url
        }
        return '/assets/img/avatardefault.jpeg'
      },

			checkYoutube(youtube) {
        if (youtube) if (youtube.config) return true
        else return false
      },

			editType(type) {
				this.setEditingType(type)
				this.toggleModal(false)
				this.setAdding(true)
				setTimeout(() => {
					this.scrollPageTo(type)
				}, 20)
			}
		}
	})

</script>

<style>
	.in-playlists-preview {
		width: 100%;
		text-align: center;
		flex-wrap: wrap;
		overflow: hidden;
	}

	.in-playlists-preview .swiper-container {
		width: 100%;
		height: 100% !important;
	}

	.in-playlist-preview .swiper-slide {
		width: 100% !important;
		height: 300px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.in-playlists-preview-item {
		width: 100%;
		height: 400px;
		overflow: hidden;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		text-align: left !important;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
		cursor: pointer;
	}

	.in-playlists-preview-item.swiper-slide {
		background: none;
	}

	.in-playlists-preview-item-thumb {
		width: 100%;
		height: 360px;
		display: block;
	}

	.in-playlists-preview-item-title {
		margin-top: 5px;
		margin-left: 20px;
		text-shadow: none;
		padding-top: 0px;
		line-height: 18px;
		color: white;
		font-size: 13px;
		text-overflow: ellipsis;
		white-space: normal;
		overflow: hidden;
	}

	.in-playlists-preview-item-author {
		margin-top: 5px;
		margin-left: 20px;
		text-shadow: none;
		padding-top: 0px;
		line-height: 18px;
		color: white;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 12px;
	}

</style>
