<template id="in-template-games-tab">
		<section class=" animated fadeIn" ref="games">	
			<p class="pl-2 in-videos-tab-h3 mb-0 py-3">
				<%= __('Jogos') %>
			</p>
			<div class="in-editor-section in-games-preview" id="games">
				<v-layout row wrap>
					<v-flex xs12 sm6 md4 lg3 xl2 v-for="(game, index) in page.games" :key="index" class="in-games-preview-item px-2">
						<v-card class="transparent" flat @click.stop="gameDetail = game">
							<v-layout row wrap>
								<v-flex xs12 class="black">
									<v-layout fill-height align-center justify-center>
										<v-img height="200px" width="200px" :src="game.cover ? game.cover.url : '/assets/img/avatardefault.jpeg'" contain></v-img>
									</v-layout>
								</v-flex>
								<v-layout row wrap class="py-2">
									<v-flex xs12>
										<p class="body-2 mb-0 text-sm-center">{{game.name}}</p>
									</v-flex>
									<v-flex xs12>
										<p class="caption mb-0 text-sm-center">Avaliação: {{ parseInt(game.rating) ? parseInt(game.rating) : 'ND' }}</p>
									</v-flex>
								</v-layout>
							</v-layout>
						</v-card>
					</v-flex>
				</v-layout>
			</div>
			<in-game-modal v-if="gameDetail.id" :game="gameDetail" @close-modal="(val) => !val ? gameDetail = {} : ''" />
		</section>
	</template>
	
	<script>
		Vue.component("in-template-games-tab", {
			template: "#in-template-games-tab",
			computed: {
				...mapGetters('page', [
					'page',
					'editMode',
					'swiperOption'
				])
			},
			data () {
				return {
					gameDetail: {}
				}
			},
			methods: {
				...mapActions('page', [
					'toggleModal',
					'setAdding',
					'setEditingType',
					'removeType'
				]),
				...mapActions('app', [
					'scrollPageTo',
				]),
	
				editType (type) {
					this.setEditingType(type)
					this.toggleModal(false)
					this.setAdding(true)
					setTimeout(() => {
						this.scrollPageTo(type)
					}, 20)
				}
			}
		})
	</script>
